SSS-FullyStackedTeam/.vs/
SSS-FullyStackedTeam/SSS-FullyStackedTeam/obj/
SSS-FullyStackedTeam/obj/
SSS-FullyStackedTeam/SSS-FullyStackedTeam/bin/
SSS-FullyStackedTeam/bin/
.vs/
SSS-FullyStackedTeam/SSS-FullyStackedTeam/SSS-FullyStackedTeam.csproj
SSS-FullyStackedTeam/SSS-FullyStackedTeam.sln
SSS-FullyStackedTeam/SSS-FullyStackedTeam/Properties/launchSettings.json
