SSS-FullyStackedTeam/.vs/
SSS-FullyStackedTeam/SSS-FullyStackedTeam/obj/
SSS-FullyStackedTeam/obj/
SSS-FullyStackedTeam/SSS-FullyStackedTeam/bin/
SSS-FullyStackedTeam/bin/
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
SSS-FullyStackedTeam/SSS-FullyStackedTeam/Properties/launchSettings.json
